<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {% block  body_block  %}


   <form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="MMF Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>



    <h1>MM FOODS</h1>
    <p>Dear customers, due to the uncertainty about the development of the pandemic, we are leaving the restaurant, shop and reception closed until end of march.
The campsite remains open, you can come whenever you want. On the door of the shop we have indicated how to register.
We adhere to a safety concept in all our infrastructures.</p>

    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>iNTRODUCTION</strong> </h4>
    In our restaurant, you can try quality dishes cooked by the owner and his team. Fresh seasonal products are available on every menu.
The restaurant is open from 08:00 to 23:00. Meals are served from 12:00 to 14:00 and from 18:30 to 21:00.
The restaurant is closed on Mondays and Tuesdays and also on Sunday evenings in winter.We are situated in the heart of the Valais region, between Sion and Martigny, within easy reach of the resorts of Ovronnaz with its thermal baths, Verbier and Nendaz and 2 km from the Thermal Baths of Saillon.  The campsite
is to be found in an oasis of greenery in the midst of orchards, a starting point for wonderful walks and cycle rides.A new, modern sanitation block, facilities for the handicapped, a baby room, a games room for children and adults, a lounge area with TV and a kitchen corner with refrigerator to rent.  Plus, of course, all the facilities you expect from a quality campsite: free hot showers, washing machine, dryer and ski room.

    ...
  </div>
</div>

<h2>MAINTANANCE</h2>

<p>Food, substance consisting essentially of protein, carbohydrate, fat, and other nutrients used in the body of an organism to sustain growth and vital processes and to furnish energy. The absorption and utilization of food by the body is fundamental to nutrition and is facilitated by digestion. Plants, which convert solar energy to food by photosynthesis, are the primary food source. Animals that feed on plants often serve as sources of food for other animals. To learn more about the sequence of transfers of matter and energy in the form of food from organism to organism, see food chain.</p>
<img class="media-object" src="https://source.unsplash.com/collection/190727/1500x400" alt="...">


<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>MISSION</strong> </h4>
    In February and March: shellfish, fish and seafood are on the programme to give you the illusion, in the middle of winter, of being on holiday at the seaside.
In April and May: the king of Saillon vegetables is on display: enjoy asparagus from Saillon, cooked in the classic manner or somewhat unconventionally, there are many ways to try this magnificent local product.
In summer: Grilled meats, mixed salads and a summer menu for a light meal on the terrace
From mid-September to mid-November: La brisolée (traditional dish from Valais): Grandfather Joseph will prepare for you an excellent dish of chestnuts grilled over a wood fire, accompanied by mountain cheeses, seasonal fruits, and bacon : everything you need to enjoy a great time of conviviality with friends. Reservation appreciated
During the same period, the delicious bouquets of the hunt drift out from the kitchen. Simmering on the stove, hare, venison or quail await your arrival at table.
During the end of year festivals: products of excellence have the place of honour to finish the year off with a flourish.

    ...


<a href="/menu">View More</a>


  </div>
</div>









   {%  endblock  %}
