<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {% block  body_block  %}
    <h1>MMF LOCATIONS</h1>

      <div class="row">
        <div class="col-sm-16 col-md-16">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1484659619207-9165d119dafe?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTh8fHJlc3R1cmFudHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
            <div class="caption">
              <h3> <strong>HYDERABAD</strong> </h3>
              <p>Hyderabad is the capital and largest city of the South Indian state of Telangana. It was ruled by the Qutub Shahis, Mughals and the Nizams which shaped its history.
                 The city is noted for its monuments which includes the masterpiece of Charminar and the fort of Golconda.</p>
              <p><a href="https://en.wikipedia.org/wiki/Hyderabad" class="btn btn-primary" role="View">View</a> <a href="https://www.google.com/maps/place/Hyderabad,+Telangana/@17.4121531,78.1278513,10z/data=!3m1!4b1!4m5!3m4!1s0x3bcb99daeaebd2c7:0xae93b78392bafbc2!8m2!3d17.385044!4d78.486671" class="btn btn-success" role="Direction">Direction</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-16 col-md-16">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1596040014776-459f4fdf9df5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjR8fHJlc3R1cmFudHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
            <div class="caption">
              <h3> <strong>BANGLORE</strong> </h3>
              <p>Bengaluru or Bangalore city is known for its charm, luxurious modern lifestyle and the best comforts of living. People are on the lookout for luxury and comfort in every aspect of life.
                The Posh luxurious living is a status factor for many and they are ready to spend even if they are available in high prices.</p>
              <p><a href="https://en.wikipedia.org/wiki/Bangalore" class="btn btn-primary" role="View">View</a> <a href="https://www.google.com/maps/place/Bengaluru,+Karnataka/@12.9538477,77.3507442,10z/data=!3m1!4b1!4m5!3m4!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627" class="btn btn-success" role="Direction">Direction</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-16 col-md-16">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1416331108676-a22ccb276e35?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxNzEzNjczfHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60" alt="...">
            <div class="caption">
              <h3> <strong>DELHI</strong> </h3>
              <p> Delhi is a beautiful city and it is the capital of India. It is an old city because it has many buildings that was built during the ancient time. Delhi has two parts one
                 is old Delhi which is built during the Mughal period and New Delhi which has many beautiful parks and big new buildings.</p>
              <p><a href="https://en.wikipedia.org/wiki/Delhi" class="btn btn-primary" role="View">View</a> <a href="https://www.google.com/maps/place/Delhi/@28.6466773,76.813073,10z/data=!3m1!4b1!4m5!3m4!1s0x390cfd5b347eb62d:0x37205b715389640!8m2!3d28.7040592!4d77.1024902" class="btn btn-success" role="Direction">Direction</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-16 col-md-16">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1590591061261-799077be8a31?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fGhvdGVscyUyMGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
            <div class="caption">
              <h3> <strong>MUMBAI</strong> </h3>
              <p>It has approximately 13 million people. Along with the neighboring cities of Navi Mumbai and Thane, it forms the world's 4th largest urban agglomeration. They have around 19.1 million people.
                 The seven islands that form Bombay were home to fishing colonies.</p>
              <p><a href="https://en.wikipedia.org/wiki/Mumbai" class="btn btn-primary" role="View">View</a> <a href="https://www.google.com/maps/place/Mumbai,+Maharashtra/@19.0821978,72.7411,11z/data=!3m1!4b1!4m5!3m4!1s0x3be7c6306644edc1:0x5da4ed8f8d648c69!8m2!3d19.0759837!4d72.8776559" class="btn btn-success" role="Direction">Direction</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-16 col-md-16">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1605092609498-6093cccc0468?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTI5fHxob3RlbHMlMjBmb29kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
            <div class="caption">
              <h3> <strong>KOLKATA</strong> </h3>
              <p>Kolkata, formerly known as Calcutta, is the educational, commercial and cultural centre of the Eastern part of India, and is the third most populous metropolitan city of India. Kolkata is a pioneer
                in the field of drama, arts, theatre and literature with several nobel laureates contributing to the Kolkata culture</p>
              <p><a href"https://en.wikipedia.org/wiki/Kolkata" class="btn btn-primary" role="View">View</a> <a href="https://www.google.com/maps/place/Kolkata,+West+Bengal/@22.6757521,88.0495361,10z/data=!3m1!4b1!4m5!3m4!1s0x39f882db4908f667:0x43e330e68f6c2cbc!8m2!3d22.572646!4d88.363895" class="btn btn-success" role="Direction">Direction</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-16 col-md-16">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1584536301769-0c5c357941db?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjl8fGhvdGVscyUyMGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="...">
            <div class="caption">
              <h3> <strong>CHENNAI</strong> </h3>
              <p>Famous as the biggest cultural and economic centre down south, Chennai was earlier known as Madras. The city houses several Hindu temples,
                 churches and museums. From its white-sand beaches to mouth-watering seafood, Chennai has everything for travellers.</p>
              <p><a href="https://en.wikipedia.org/wiki/Chennai" class="btn btn-primary" role="View">View</a> <a href="https://www.google.com/maps/place/Chennai,+Tamil+Nadu/@13.0474878,80.0689252,11z/data=!3m1!4b1!4m5!3m4!1s0x3a5265ea4f7d3361:0x6e61a70b6863d433!8m2!3d13.0826802!4d80.2707184" class="btn btn-success" role="Direction">Direction</a></p>
            </div>
          </div>
        </div>
      </div>


   {%  endblock  %}
