<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {% block  body_block  %}
    <h1>MENU</h1>


 <a href="/list"><button type="button" class="btn btn-default navbar-btn">ORDER ONLINE</button></a>

<p>(MAKE A DEAL WITH OUR MENU TO ORDER SOMETHING SPECIAL TODAY/TONIGHT).</p>

    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>CHOCOLATE COFFEE</strong> </h4>
    Delicious coffee which has a hint of chocolate flavour which taste so yummy.
      Perfect for a cold day. You can have this mocha drink anytime as well
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>COFFEE WITH CREAM</strong></h4>
    Yum, yum, yum. Hot coffee with heavy cream will warm you up, down to your toes! Try this in the morning,
      as a mid-day boost, or as a decadent and creamy
    ...
  </div>
</div>


<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>iCED COFFEE</strong></h4>
    Iced coffee is a type of coffee beverage served chilled, brewed variously with the fundamental division being cold brew – brewing the coffee cold, yielding a different flavor, and not requiring cooling – or brewing normally and then cooling,
      generally by simply pouring over ice or into ice cold milk
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>LONG BLACK</strong></h4>
    A long black is a style of coffee commonly found in Australia and New Zealand. It is similar to an Americano, but with a stronger aroma and taste.
      A long black is made by pouring a double-shot of espresso or ristretto over hot water
    ...
  </div>
</div>

<u><h2>SOUPS</h2></u>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>CREAM OF POTATO</strong></h4>
    A cream soup is a soup prepared using cream, light cream, half and half or milk as a key ingredient.[1] Sometimes the dairy product is added at the end of the cooking process, such as after a cream soup has been puréed.[2]

A cream soup will often have a soup base, prepared with ingredients such as onion, celery, garlic powder, celery salt, butter, bacon drippings, flour, salt, pepper, paprika, milk, light cream, and chicken stock or vegetable stock.[3] Various vegetables or meats are then added to the base.
Sometimes, leftover vegetables and meats are used in cream soups
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>CARROTS & CELERY SOUP</strong></h4>
    Usually the vegetable mixture is onions, carrots, and celery (either common 'pascal' celery or celeriac), with the traditional ratio being 2:1:1, two parts onion, one part carrot, and one part celery.
    Mirepoix is the flavor base for a wide variety of Western dishes: stocks, soups, stews and sauces
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>SPLIT PEA SOUP</strong></h4>
    Pea soup or split pea soup is soup made typically from dried peas, such as the split pea. It is, with variations, a part of the cuisine of many cultures. It is most often
    greyish-green or yellow in color depending on the regional variety of peas used; all are cultivars of Pisum sativum
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>LOBSTER BISQUE SOUP</strong></h4>
    It can be made from lobster, langoustine, crab, shrimp, or crayfish.
       Alongside chowder, bisque is one of the most popular seafood soups
    ...
  </div>
</div>

<u><h2>SALADS</h2></u>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>CARROT SALAD</strong></h4>
    Carrot salad is eaten across the Middle East most commonly by mixing carrots with parsley and lemon juice. Houria is a cooked, and often mashed, carrot salad in Tunisian cuisine. In Morocco,
      carrot salad is made by mixing cooked carrots with lemon juice and cumin and oftentimes herbs and garli
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>AVOCADO SALAD</strong></h4>
    The avocado (Persea americana), a tree likely originating from southcentral Mexico,[2][3][4] is classified as a member of the flowering plant family Lauraceae.[2] The fruit of the plant, also called an avocado (or avocado pear or alligator pear),
       is botanically a large berry containing a single large seed
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>MIXED SALAD</strong></h4>
    Mesclun (French pronunciation: ​[mɛsˈklœ̃]) is a mix of assorted small young salad greens that originated in Provence, France. The traditional mix includes chervil, arugula, leafy lettuces and endive, while the term mesclun may also refer to a blend [1] that might include some or all of these four and baby spinach, collard greens, Swiss chard (silver beet), mustard greens, dandelion greens, frisée,
       mizuna, mâche (lamb's lettuce), radicchio, sorrel, or other fresh leaf vegetable
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>CUCUMBER SALAD</strong></h4>
    Cucumber (Cucumis sativus) is a widely-cultivated creeping vine plant in the Cucurbitaceae gourd family that bears cucumiform fruits, which are used as vegetables.[1] There are three main varieties of cucumber—slicing, pickling, and burpless/seedless—within which several cultivars have been created. The cucumber originates from South Asia, but now grows on most continents, as many different types of cucumber are traded on the global market. In North America, the term wild cucumber refers to plants in the genera Echinocystis and Marah, though the two are not closely related
    ...
  </div>
</div>

<u><h2>DESRETS</h2></u>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>CHOCOLATE CHEESECAKE</strong></h4>
    Small bits of candied fruit are often added. Dutch/Belgian-style cheesecakes are typically flavored with fruit or melted bittersweet chocolate, are generally made with quark, and are not baked.
       Belgian cheesecake also includes a speculaas crust (a traditional Dutch-Belgian biscuit)
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>RUM CAKE</strong></h4>
    A rum cake is a type of dessert cake which contains rum. In most of the Caribbean, rum cakes are a traditional holiday season dessert,
      descended from the holiday puddings (such as figgy pudding)
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>NUTELLA CHEESECAKE</strong></h4>
    Cheesecake is a sweet dessert consisting of one or more layers. The main, and thickest, layer consists of a mixture of a soft, fresh cheese (typically cottage cheese, cream cheese or ricotta), eggs, and sugar. If there is a bottom layer, it most often consists of a crust or base made from crushed cookies (or digestive biscuits), graham crackers, pastry, or sometimes sponge cake.
       Cheesecake may be baked or unbaked (and is usually refrigerated)
    ...
  </div>
</div>

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong>FRIED ICE CREAM</strong></h4>
    Fried ice cream is a dessert made of a scoop of ice cream that is frozen hard, breaded or coated in a batter, and quickly deep-fried,
      creating a warm, crispy shell around the still-cold ice cream
    ...
  </div>
</div>




<h3>ENTER YOUR CHOICE IN BELOW BOX</h3>

    <textarea name="name" rows="4" cols="200"></textarea>

    <a href="/register"><button type="button" class="btn btn-primary navbar-btn">ORDER NOW</button></a>






   {%  endblock  %}
