<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {% block  body_block  %}

   <a href="/list"><button type="button" class="btn btn-primary navbar-btn">Home</button></a>

   <ul><h4>COFFEE</h4></ul>

   <table>
     <p><<strong>CHOCOLATE COFFEE</strong>         : Rs.140/-</p>
     <p><strong>COFFEE WITH CREAM</strong>         : Rs.180/-</p>
     <p><strong>iCED COFFEE</strong>               : Rs.200/-</p>
     <p><strong>LONG BLACK COFFEE</strong>         : Rs.240/-</p>
   </table>


<a href="/register"><button type="button" class="btn btn-danger navbar-btn">Buy Now</button></a>

   {%  endblock  %}
